<html>
  <head>
	
	<meta charset="utf-8">
	<title><%= @resource_name %> REST API Documentation</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="viewport" 
	        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="">
	<meta name="author" content="">
	<!--<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">-->
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap-responsive.css" rel="stylesheet">

	<script type="text/javascript">
		window.addEventListener("load",function() {
			// Set a timeout...
			setTimeout(function(){
				// Hide the address bar!
				window.scrollTo(0, 1);
			}, 0);
		});
	
	</script

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="100">
	<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="i-bar"></span>
	            <span class="i-bar"></span>
	            <span class="i-bar"></span>
	          </a>
	          <a class="brand" href="/"><%= @resource_name %> Docs</a>
	          <div class="nav-collapse">
	            
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      
			<%= yield %>
	      


  </div> <!-- /container -->

  </body>
</html>

